PubSub.Sub.vshost.exe
PubSub.Sub.vshost.exe.config
PubSub.Sub.vshost.exe.manifest
DesignTimeResolveAssemblyReferencesInput.cache
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ZeroMQ.4.1.0.15.nupkg
libsodium.dll
libsodium.so
libzmq.dll
libzmq.so
ZeroMQ.dll
LICENSE
clrzmq-x64.2.2.5.nupkg
clrzmq-ext.dll
clrzmq-ext.pdb
clrzmq-ext.xml
clrzmq.dll
clrzmq.pdb
clrzmq.xml
install.ps1
repositories.config
PubSub.vshost.exe
PubSub.vshost.exe.config
PubSub.vshost.exe.manifest
PubSub.v12.suo
